body {
	background: #0c3826;
	color: #c2beb8;
}

img {
	border-radius: 50%;
}

#projects div {
	background: #0c3826;
	color: #c2beb8;
}

#projects img {
	border-radius: 0%;
}

#bio {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 66px 1fr 1fr;
	/*border: 1px solid #FF0000;*/
}

#bio > h1 {
	grid-column: 1;
	/*border: 1px solid #FFFFFF;*/
}

#bio > iframe {
	width: 500px;
	height: 280px;

	grid-column: 1 / 2;
	grid-row: 3;
	/*border: 1px solid #FFFFFF;*/
}

#me {
	width: 250px;
	vertical-align: right;
	justify-self: end;
	grid-column: 2;
	grid-row: 1 / 2;
}

#p-one {
	grid-column: 1 / 2;
	grid-row: 2;
	/*border: 1px solid #FFFFFF;*/
}

#p-two {
	grid-column: 2 / 3;
	grid-row: 3;
	justify-self: end;
	/*border: 1px solid #FFFFFF;*/
}

ul {
	margin: auto;
	width: 75%;
}

ul a {
	float: right;
	color: #C2BEB8;
	font-weight: bold;
}